/* Watersharing Card Styles */
.watersharing-blocks, .watertrading-blocks {
	.watersharing-card-wrap {
		background: #FFF;
		border-radius: var(--box-border-radius, 5px);
		box-shadow: $drop-shadow;
		margin-bottom: 3rem;
		overflow: auto;

		.watersharing-card-inner {
			.watersharing-card-header {
				background: var(--card-header-color-bg, $dark-blue);
				text-align: center;
				padding: var(--card-header-padding, 1.5rem 0 1rem 0);
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1ch;

				[class^='fa-'] {
					color: var(--accent-color-forms, $dark-blue);
					font-size: 1.2rem;
				}
				
				.watersharing-card-title,
				h1.watersharing-card-title {
					color: var(--card-header-color-fg, #FFF);
					display: block;
					font-size: 1.125rem;
					font-weight: 700;
					line-height: 1.75;
					margin: 0;
				}
			}

			.watersharing-card-body {
				@media (min-width: 576px) {
					padding: var(--card-body-padding, 40px 60px 60px);
				}

				padding: 20px;
			}
		}
	}
}

/* Watersharing Form Styles */
.watersharing-form {
	.watersharing-row {
		margin-bottom: var(--form-row-bottom-margin, 1rem);
	}

	input, input.input, input[type='date'], input[type='text'], select {
		width: 100%;
	}

	label[for]{
		cursor: pointer;
	}

	.watersharing-form-label {
		@media (min-width: 576px) {
			text-align: left;
			flex: 0 0 auto;
			width: 25%;
			align-items: center;
			gap:5px;
		}

		p{
			margin:0px;
		}

		display:flex;
		flex-shrink: 0;
		font-weight: 600;
		line-height: 1.5;
		max-width: 100%;
		padding: 0 10px 0 0;
		width: 100%;

		&.accordion{
			width: 100% !important;
		}

		.checkbox{
			width:25% !important;
		}
	}

	.watersharing-input-col {
		@media (min-width: 576px) {
			flex: 0 0 auto;
			width: 75%;
		}

		flex-shrink: 0;
		max-width: 100%;
		width: 100%;
		align-content: center;

		&.accordion{
			width: 100% !important;
		}

		&.two-col{
			width: 42% !important;
		}

		&.three-col{
			width: 31% !important;
		}

		&.no-label{
			width:100%;
		}
	}

	.watersharing-text-col {
		@media (min-width: 576px) {
			flex: 0 0 auto;
			margin-bottom: 0;
			width: 30%;
			margin-right: 10px;
		}

		margin-bottom: 8px;
	}

	.watersharing-date-sep {
		@media (min-width: 576px) {
			display: block;
		}

		display: none;
		flex: 0 0 auto;
		width: 4%;
		align-self: center;
		text-align: center;
	}

	.watersharing-date-col {
		@media (min-width: 576px) {
			flex: 0 0 auto;
			margin-bottom: 0;
			width: 48%;
		}

		margin-bottom: 8px;
	}

	.watersharing-section-break {
		border-bottom: 1px solid $light-grey;
		margin-top: 3rem;
		margin-bottom: 1rem;

		.watersharing-info-text {
			font-size: 14px;
			margin-bottom: 8px;
		}
	}

	.watersharing-submit-button {
		width: 100%;
	}
}

.hide-on-mobile {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.show-on-mobile {
	display: none;

	@media (max-width: 767px) {
		display: inline;
	}
}

/* Watersharing Match Request Table Styles */
table.watersharing-table, table.watertrading-table{
	margin-bottom: 1rem;
	vertical-align: top;
	width: 100%;

	@media( max-width: 767px) {
		th {
			display: none;
		}

		tbody, td, thead, tr {
			display: block;
		}

		tr.watersharing-request-row {
			> td {
				border-bottom: 1px solid $light-blue;
				border-right: 1px solid $light-blue;
			}
		}
	}

	& > thead {
		vertical-align: bottom;

		th {
			line-height: 2;
			padding: 4px 4px 4px 18px;
			text-align: left;
		}
	}

	.tablesorter-header-inner{
		font-size: var(--table-column-header-font-size, 0.75rem);
		font-weight: 400;
	}

	tr.watersharing-request-detail {
		display: table-row;

		&.collapse {
			display: none;
		}
		&.show + .watersharing-request-row{
			@media (max-width: 767px) {
				margin-top: 3em;
			}
		}

		&:not(collapse) > td > div {
			max-height: 350px;
		}

		&.collapsing > td > div {
		    max-height: 0;
		}

		& > td {
			overflow: hidden;

			> div {
				transition: max-height .35s ease;
			}
		}
	}

	tr.watersharing-request-row {
		position: relative;

		@media (max-width: 767px) {
			margin-bottom: 10px;
		}

		& > td {
			padding: .5rem .5rem;
			@media (min-width: $md-screen){
				padding: .2rem .5rem;
			}

			&.align-middle {
				vertical-align: middle;
			}

			input[type=checkbox] {
			    height: 20px;
			    width: 20px;
				margin-block: 3px;

				&:hover {
					cursor: pointer;
				}
			}

			.toggle-row {
				&.disabled {
					pointer-events: none;
					opacity: .35;
				}

				.fa {
				    transition: all .4s ease
				}

				&.active .fa {
					transform: rotate(90deg)
				}
			}
		}

		&:has(.status-closed){
			background-color: $alt-gray;
		}
	}

	span.status-matched {
	    color: #70ad47;
	    font-weight: 700
	}

	span.status-pending {
	    color: #4e79a7;
	    font-weight: 700
	}

	span.matches {
		font-size: 16px;
		i {
			font-size: 15px;
			color: #a32828;
			margin-right: 10px
		}

		&.matched i {
		    color: #219653
		}

	}

	.watersharing-request-detail {
		.watersharing-contact {
			span {
				display: block;

				&.heading {
					font-size: 18px;
					margin-bottom: 10px;
				}
			}
		}

		.watersharing-no-contact {
			align-self: center;
			color: $blue;
			text-align: center;
		}
	}

	.watersharing-match-col, .watersharing-contact {
		background: #FFF;
		border: 1px solid $light-blue;
		padding: 10px;
	}
	.watersharing-match-action {
		background: none;
	    box-shadow: none;
	    color: #4e79a7;
		&.approval{
			padding: 0.4em 0.5em;
			display: flex;
			flex-direction: row;
			gap: 1ch;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			color: #000;
			cursor: pointer;
			font-size: 16px;
			font-weight: 700;
			text-decoration: none;

			&.approve-action{
				border: 1px solid #C1FFD2;
			}
			&.decline-action{
				border: 1px solid #FFD9D6;
			}

			&.decline-action i {
				color: $red;
			}

			&.approve-action i {
				color: $green;
			}

			&.checked {
				pointer-events: none;
			}

			i {
				color: $light-blue;
				font-size: 20px;
			}
		}
		&.toggle-row{
			display: inline-block;
			min-width: 20px;
			min-height: 20px;
			border-radius: 10px;
			background-color: var(--button-bg-color, #00678F);
			color: #fff;
			aspect-ratio: 1 / 1;
			&.disabled{
				@media (max-width: 767px) {
					display: none;
				}
			}
		}
	}
}

.watersharing-match-block{
	display: flex;
	flex-direction: column;
	.match-detail,
	.match-summation{
		padding: 1em;
	}
	.match-cell{
		padding: 0.5em;
		border-bottom: 1px solid var(--table-border-color, #D9D9D9);
		border-right: 1px solid var(--table-border-color, #D9D9D9);
		&.match-send-to,
		&.match-buttons{
			border-bottom: none;
		}
		
		&.match-approval{
			padding-block: 0;
			display: flex;
			gap: 1rem;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: none;
		}
	}
	.match-summation{
		order: 1;
	}
	.match-detail{
		order: 2;
		padding: 0
	}
	.status-message-matched{
		color: var(--color-success, #219653);
		font-weight: 700;
	}

	@media (min-width: $md-screen) {
		flex-direction: row;
		.match-summation{
			order: unset;
			flex-basis: 27.5%;
			display: grid;
			place-items: center;
		}
		.match-detail{
			order: unset;
			flex-basis: 72.5%;
		}

	}
}

.table-action-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.watersharing-kpi-block{
	background: #fff;
	box-shadow: 2px 2px 4px -2px rgba(0,0,0,.5);
	position: relative;
	width:100%;
	margin-right:10px;
	border: 3px solid;
	border-radius:8px;
	border-color: $blue;
	padding-top:5px;
	padding-bottom:5px;
}

.d-none{
	display: none !important;
}

button [class^='fa-'] {
	color: inherit;
}