// Theme Colors
$dark-blue: #19406A;
$light-blue: #D8E2F3;
$blue: #4E79A7;
$light-grey: #CCCCCC;
$grey: #5C636A;
$red: #A32828;
$green: #70AD47;

// Shadows
$drop-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

// Breakpoints
$xs-screen: 320px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$xxl-screen: 1400px;
