/* Watersharing Button Styles */
.watersharing-blocks, 
.watertrading-blocks, 
.watersharing-table {
	&.full-width {
		max-width: 100%;
	}

	&.chart{
		width:100%;
		height:300px;
		display: flex;
		justify-content: center;
	}

	.watersharing-submit-button {
		background: $blue;
		border: none;
		border-radius: var(--input-radius,5px);
		box-shadow: $drop-shadow;
		color: #FFF;
		cursor: pointer;
		font-size: 16px; font-size: 1rem;
		line-height: 1.5;
		padding: 8px 24px;
		width:auto !important;
		transition: all 0.3s ease;
		&:focus,
		&:hover {
			background: $grey;
		}

		&:disabled, .disabled {
			cursor: pointer;
			opacity: 0.65;
			pointer-events: none;
		}
	}
	
	.watersharing-secondary-button {
		background: $blue;
		border: none;
		border-radius: var(--input-radius,5px);
		box-shadow: $drop-shadow;
		color: #FFF;
		font-size: 16px; font-size: 1rem;
		line-height: 1.5;
		padding: 8px 3ch;
		width: auto !important;
		transition: all 0.3s ease;
		cursor: pointer;
		&:focus,
		&:hover {
			background: $grey;
		}

		&:disabled, .disabled {
			cursor: pointer;
			opacity: 0.65;
			pointer-events: none;
		}
	}

	:disabled, .disabled {
		cursor: pointer;
		opacity: 0.65;
		pointer-events: none;
	}
}

/* Watersharing Input Styles */
.watersharing-blocks, .watertrading-blocks {
	input, 
	input.input, 
	input[type='date'], 
	input[type='text'], 
	select {
		box-sizing: border-box;
		padding: var(--input-padding, 6px 15px);
		background-color: var(--input-bg, #FFF);
		background-clip: padding-box;
		border: var(--input-border, 1px solid $light-grey);
		border-radius: var(--input-radius, 5px);
		font-size: var(--input-font-size, 0.75rem);
		line-height: var(--input-line-height, 1.5);
		accent-color: var(--accent-color-forms, #{$dark-blue});
		&[disabled]{
			background-color: var(--input-bg-disabled, $other-gray);
		}
	}
	label{
		cursor: pointer;
	}
	.meta-box-checkbox,
	.meta-box-radio{
		label{
			font-size: var(--input-font-size, 0.75rem);
		}
	}
	.select-request-action{
		--input-padding: 11px 13px
	}
}

/* Watersharing Responsive Layout Classes */
.watersharing-row {
	align-items: start;
	display: flex;
	flex-wrap: wrap;

	> * {
		align-self: stretch;
		box-sizing: border-box;
		flex-shrink: 0;
		max-width: 100%;
		width: 100%;
	}

	> label{
		margin-bottom: 0.4rem;
	}

	&.centerered{
		justify-content: center !important;
	}

	&.no-margin-bottom {
		margin-bottom: 0 !important;
	}

	&.two-col{
		justify-content: space-between;
	}

	&.subs-stack{
		> .watersharing-input-col.subs-stack > .watersharing-row{
			flex-direction: column;
			.watersharing-form-label,
			.watersharing-input-col{
				width: auto;
			}
		}
	}

	&.columns-grow-with-dash {
		--bs-body-line-height: 0;
		align-items: center;
		.watersharing-date-sep{
			line-height: 0 !important;
			outline: 2px solid fuchsia
		}
	}

	&.columns-grow{
		// outline: 2px solid red;

		.watersharing-input-col.two-col.columns-grow{
			--gap: 1em;
			--half-gap: calc(var(--gap) / 2);
			// outline: 2px solid fuchsia;
			flex-grow: 1;
			flex-basis: calc(50% - var(--gap));
			width: unset !important;
			padding-right: var(--half-gap);
			
			&:is(.watersharing-input-col.two-col.columns-grow + .watersharing-input-col.two-col.columns-grow){
				// outline: 2px solid red;
				padding-right: 0;
				padding-left: var(--half-gap);
			}
		}
	}
	
	// :has(.large-outer-label)
	&:has(.large-outer-label):is(.accordion-body > .watersharing-row){
		>label{
			margin-top: 0.4rem;
			p{
				font-size: 0.75rem;
				font-weight: 700;
			}
		}
	}
	&:has(.large-outer-label.no-bottom-margin):is(.accordion-body > .watersharing-row){
		>label{
			margin-bottom: 0;
		}
	}

	&.three-col{
		justify-content: space-between;
	}

	.watersharing-col-half {
		flex: 0 0 auto;
		width: 50%;
	}

	.watersharing-col-third {
		@media (min-width: 992px) {
			flex: 0 0 auto;
			width: 33.3333333%;
		}
	}

	.watersharing-col {
		flex: 0 0 auto;
		width: 100%;
	}

	.meta-box-radio{
		// margin-bottom: 10px;
		display:flex;
		gap:10px;
	}

	.meta-radio-select{
		display: flex;
		align-items: center;
		// margin-bottom: 10px;
	}

	.radio-button{
		margin-right:5px;
	}

	.meta-radio-select label {
		margin-right: 10px;
		white-space: nowrap; /* Prevents label text from wrapping */
	}
}

#primary-information .accordion-button{
	border-top: none;
}
#primary-information .accordion-body > .watersharing-row,
.watersharing-form > .watersharing-row.watersharing-row.watersharing-row{
	flex-direction: column;	
	> *{
		flex: 1 0 100%;
		width: auto;
	}

	// USEAGE NOTE Watersharing Row variants
	// .outer-row-horizontal to make the containing row horizontal
	// .outer-row-horizontal-mq-lg to make the containing row horizontal on larger screens
	// as of now, these styles repeat below. 
	&:has(.outer-row-horizontal){
		// these styles repeat below BECAUSE I cannot use @extend inside the mq to enable shared styles.
		flex-direction: row;
		align-items: start;
		.watersharing-form-label{
			flex: 0 0 33%;
		}
		.watersharing-input-col{
			flex: 1 1 66%;
		}
	}
	&:has(.outer-row-horizontal-mq-lg){
		@media (min-width: $lg-screen){
			// these stytles repeat the ones directly above BECAUSE I cannot use @extend inside the mq to enable shared styles.
			flex-direction: row;
			align-items: start;
			.watersharing-form-label{
				flex: 0 0 33%;
			}
			.watersharing-input-col{
				flex: 1 1 66%;
			}
		}
	}
	&:has(.outer-row-horizontal),
	&:has(.outer-row-horizontal-mq-lg){
		> label.watersharing-form-label{
			padding-block: 14px;
			align-items: flex-start;
			@media (max-width: $lg-screen){
				padding-bottom: 0;
			}
		}
		label + .watersharing-input-col{
			padding-block: 14px;
			@media (max-width: $lg-screen){
				padding-top: 7px;
			}
		}
	}
}

.watersharing-input-col + .watersharing-input-col .accordion-button{
	border-top: none;
}

.meta-box-checkbox {
    display: flex;
    align-items: center;

    .meta-box-input.checkbox {
		accent-color: var(--accent-color-forms,$blue);
        height: 15px;
        width: 15px;
		margin-right:15px;
    }
}

.chart-container{
	width:100vw;
}

.trade_demand-loading-indicator, .trade_supply-loading-indicator,.share_demand-loading-indicator, .share_supply-loading-indicator {
	border: 16px solid #f3f3f3; 
	border-top: 16px solid #3498db;
	border-right: 16px solid #3498db;
	border-bottom: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1.5s linear infinite;
	margin-left:auto;
	margin-right:auto;
	display:none;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.submit-column{
	padding-top: 25px;
}