/* Watersharing Button Styles */
.watersharing-blocks, .watertrading-blocks, .watersharing-table {
	&.full-width {
		max-width: 100%;
	}

	&.chart{
		display: flex;
		justify-content: center;
	}

	.watersharing-submit-button {
		background: $blue;
		border: none;
		border-radius: 10px;
		box-shadow: $drop-shadow;
		color: #FFF;
		cursor: pointer;
		font-size: 16px; font-size: 1rem;
		line-height: 1.5;
		padding: 8px 24px;

		&:hover {
			background: $grey;
		}

		&:disabled, .disabled {
			cursor: pointer;
			opacity: 0.65;
			pointer-events: none;
		}
	}

	:disabled, .disabled {
		cursor: pointer;
		opacity: 0.65;
		pointer-events: none;
	}
}

/* Watersharing Input Styles */
.watersharing-blocks, .watertrading-blocks {
	input, input.input, input[type='date'], input[type='text'], select {
		background-color: #FFF;
		background-clip: padding-box;
		border: 1px solid $light-grey;
		border-radius: 10px;
		box-sizing: border-box;
		font-size: 16px; font-size: 1rem;
		line-height: 1.5;
		padding: 8px 16px;
	}
}

/* Watersharing Responsive Layout Classes */
.watersharing-row {
	align-items: start;
	display: flex;
	flex-wrap: wrap;

	& > * {
		align-self: stretch;
		box-sizing: border-box;
		flex-shrink: 0;
		max-width: 100%;
		width: 100%;
	}

	&.centerered{
		justify-content: center !important;
	}

	&.no-margin-bottom {
		margin-bottom: 0 !important;
	}

	&.two-col{
		justify-content: space-between;
	}

	&.three-col{
		justify-content: space-between;
	}

	.watersharing-col-half {
		flex: 0 0 auto;
		width: 50%;
	}

	.watersharing-col-third {
		@media (min-width: 992px) {
			flex: 0 0 auto;
			width: 33.3333333%;
		}
	}

	.watersharing-col {
		flex: 0 0 auto;
		width: 100%;
	}

	.meta-box-radio{
		// margin-bottom: 10px;
		display:flex;
		gap:10px;
	}

	.meta-radio-select{
		display: flex;
		align-items: center;
		// margin-bottom: 10px;
	}

	.radio-button{
		margin-right:5px;
	}

	.meta-radio-select label {
		margin-right: 10px;
		white-space: nowrap; /* Prevents label text from wrapping */
	}
}

.chart-container{
	width:600px;
}
